@import "mixins/mixins";

 .overview {
	background-image: $OverviewBG;
    @include floating-widget;
    @include spacing;


    .workspace {
		padding: 0.8rem;
        &.active>widget {
            border-color: $border-color;
        }

        >widget {
            @include widget;
            border-radius: if($radius ==0, 0, $radius + $padding);

            &:hover {
                background: $hover-bg;
            }

            &:drop(active) {
                border-color:  $border-color;
            }
        }
    }

    .client {
        @include button;
        //border-radius: $radius;
        margin: $padding;

        &.hidden {
            @include hidden;
            transition: 0;
        }
    }
}
.ovhorizontal {
	padding: 0.8rem;
	background: none;
}
