@import "quicktoggles";

.dashboard {
    font-weight: bold;
    background: $DashboardBG;
}

.dashcontainer {
	background-color: rgba(0,0,0,0);
	border-radius: 3rem;
	min-width: 30rem;
	min-height: 793pt;
}
