@import "quicktoggles";
@import "network";

.dashboard {
    font-weight: bold;
    background: none;
}

.dashcontainer {
	background: $PrimaryBG;
	min-height: 71.75rem;
	border-radius: $radius-tbleft;
	border-left: $border;
	border-bottom: $border;
	border-top: $border;
	margin-top: 0.25rem;
}
