.notificationList {
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,160,255,1) 50%, rgba(19,55,111,1) 100%);
    border-radius: 15px;
    border: 2px solid #11111b;
    margin-bottom: 15px;
    min-height: 500px;
    padding: 10px;
}
.notificationEmpty {
    color: #313244;
    font-size: 7rem;
}
.notificationImage {
    color: #cdd6f4;
    font-size: 30px;
}
.notification {
    background-color: #313244;
    border-radius: 15px;
    padding:10px;
}
.notificationTitle {
    color: #cdd6f4;
}
.notificationDescription { 
    color: #bac2de;
}
