.quicktoggles {
    margin-bottom: 5px;
    min-width: 200px;
    padding: 10px;
	&:hover{
		background: $Hoverfont-color;
	}
}


.buttons {
    margin-top: 10px;
	font-size: 1.5rem;
	border-radius: 50%;
	padding: 2rem;
}

.bluetooth, .wifi {
    background: #74c7ec;
    border-radius: 24px;
    min-width: 125px;
    padding: 9px;
    &.off {
        background: #313244;
    }
}
.wifi {
    margin-right: 10px;
}
.wifi, .bluetooth, {
    &Icon {
        margin-right: 6px;
    }
}
.quickaccess {
	&icon {
		background-color: rgba(0,0,0,1);
		border-radius: 100%;
		margin: 5px;
		min-height: 24px;
		min-width: 24px;
		padding: 0.5rem;
		font-size: 1.5rem;
		&:hover{
			background-color: rgba(15,155,255,1);
		}
	}
}

.wifilist .wifi-group-list, .wifi-group, .netwidget {
     background: #1e1e2e;
    border-radius: 15px;
    border: 2px solid #11111b;
    margin-bottom: 10px;
    padding: 8px;
}
