*:not(selection) {
  all: unset;
}

.clock {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 0rem 3rem 3rem;
  border: 2px solid transparent;
  color: #cdd6f4;
  font-weight: bold;
  padding: 1px 15px;
}
.clock:hover {
  color: cyan;
  border: 2px solid #0000FF;
}

.calendarWidget {
  background: linear-gradient(45deg, rgb(19, 55, 111) 0%, rgb(0, 160, 255) 50%, rgb(0, 0, 0) 100%);
  border-radius: 2rem;
  border: 2px solid #11111b;
  padding: 5px;
}

.calwid {
  border-radius: 3rem;
  font-size: 1.5rem;
}
.calwid:selected {
  background: linear-gradient(0deg, rgb(19, 55, 111) 0%, rgb(0, 160, 255) 50%, rgb(0, 0, 0) 100%);
  border-radius: 1.6rem;
  box-shadow: inset 5px -5px 5px -5px rgb(19, 55, 111);
}
.calwid.button {
  background-color: rgb(0, 160, 255);
  box-shadow: inset 5px -5px 5px -5px rgb(19, 55, 111);
}

.media {
  color: #cdd6f4;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.media:hover {
  color: cyan;
  border: 2px solid #0000FF;
}

.mediabtn {
  margin: 0px 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  padding: 0px 15px;
  color: white;
  border-radius: 0rem 0rem 3rem 3rem;
}
.mediabtn:hover {
  color: cyan;
  border: 2px solid #0000FF;
}

.player {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(15, 155, 255) 54%, rgb(0, 0, 0) 100%);
  padding: 10px;
  min-width: 250px;
  min-height: 100px;
  border-radius: 1em;
}

.player .img {
  background-size: 50px;
  background-position: center;
  border-radius: 5px;
  margin-right: 1em;
}

.player .mtitle {
  font-size: 1.2em;
  padding: 0.25em;
  border-radius: 3em;
  background-color: rgba(0, 0, 0, 0.5);
}

.player .artist {
  font-size: 1.15em;
  color: cyan;
}

.player scale.position {
  padding: 0;
  margin-bottom: 0.3em;
  padding: 1em;
}

.player scale.position trough {
  min-height: 8px;
  background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(0, 0, 0) 54%, rgb(255, 0, 0) 100%);
}

.player scale.position highlight {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(15, 155, 255) 54%, rgb(0, 0, 0) 100%);
}

.player scale.position slider {
  all: unset;
}

.player button {
  min-height: 1em;
  min-width: 1em;
}

.player button.play-pause {
  margin: 0em 1em;
  padding: 0em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  border: 2px solid #11111b;
  color: #cdd6f4;
  font-weight: bold;
}
.player button.play-pause:hover {
  color: #FFF000;
  border: 2px solid #FFF000;
}

.next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 3rem 3rem 0rem;
  border: 2px solid #11111b;
  color: #cdd6f4;
  font-weight: bold;
  padding: 0px 2px;
}
.next:hover {
  color: #00FF00;
  border: 2px solid #00FF00;
}

.previous {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem 0rem 0rem 3rem;
  border: 2px solid #11111b;
  color: #cdd6f4;
  font-weight: bold;
  padding: 0px 2px;
}
.previous:hover {
  color: #FF0000;
  border: 2px solid #FF0000;
}

.barNotification {
  background-color: #1e1e2e;
  border-radius: 2rem;
  border: 2px solid #11111b;
  color: #cdd6f4;
  font-weight: bold;
  margin-right: 10px;
  padding: 1px 15px;
}

@keyframes lowBlink {
  0% {
    color: #f5c2e7;
  }
  50% {
    color: #cdd6f4;
  }
  100% {
    color: #f5c2e7;
  }
}
.sysinfo {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 0rem 5rem 5rem;
  border: 2px solid transparent;
  color: #cdd6f4;
  font-weight: bold;
  margin-right: 10px;
  padding: 0px 10px;
}

.volume {
  margin-left: 4px;
  margin-right: 4px;
}
.volume:hover {
  color: cyan;
  border: 2px solid #0000FF;
}

.bluetoothindicator {
  margin-left: 4px;
  margin-right: 4px;
}

.batIcon {
  margin-left: 4px;
  margin-right: 4px;
}
.batIcon.low {
  animation: lowBlink 2s infinite;
}

.reloadconfig {
  margin-left: 4px;
}
.reloadconfig:hover {
  color: cyan;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 0rem 3rem 3rem;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 0px 20px;
}
.title:hover {
  color: cyan;
  border: 2px solid #0000FF;
}

.tray {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 0rem 3rem 3rem;
  margin-right: 10px;
  padding: 0px 8px;
}
.tray > * {
  margin: 0 3px;
  margin-right: 4px;
  margin-left: 4px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding: 1px 2px;
}

.systrayitem:hover {
  background-color: #1e1e2e;
  border-radius: 0rem 0rem 3rem 3rem;
  border: 2px solid #0000FF;
}

menu menuitem {
  background: linear-gradient(0deg, rgb(15, 155, 255) 0%, rgb(0, 0, 0) 45%, rgb(0, 0, 0) 65%, rgb(15, 155, 255) 100%);
  border-radius: 15px;
  border: 2px solid #11111b;
  color: #FF0000;
  margin: 1px;
  padding: 5px;
}
menu menuitem:hover {
  color: #FFF000;
  border: 2px solid #0000FF;
  font-weight: bold;
}

tooltip {
  box-shadow: rgb(0, 155, 1);
}

tooltip.background {
  background: linear-gradient(0deg, rgb(15, 155, 255) 0%, rgb(0, 0, 0) 45%, rgb(0, 0, 0) 65%, rgb(15, 155, 255) 100%);
  border-radius: 0.8rem;
  color: yellow;
}

.workspaces {
  margin: 0px 3px;
}
.workspaces button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #00FFCC;
  border-radius: 0rem 0rem 3rem 3rem;
  margin: 0px 3px 0px 0px;
  padding: 1px;
  min-height: 8px;
  min-width: 14px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
}
.workspaces button:hover {
  border: 2px solid #0000FF;
  color: #FFFE00;
  font-weight: bold;
  min-width: 18px;
}
.workspaces button.focused {
  border: 2px solid #7A2048;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3rem 3rem 3rem 3rem;
  font-weight: bold;
  color: #FF0000;
  min-width: 20px;
}

.dashbtn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem 0rem 0rem 3rem;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 5px;
  padding: 0px 5px;
}
.dashbtn:hover {
  color: cyan;
  border: 2px solid #0000FF;
}

.bar {
  font-family: Liberation Mono Font;
  color: #FF0000;
  background: linear-gradient(180deg, rgb(19, 55, 111) 0%, rgb(0, 160, 255) 50%, rgb(0, 0, 0) 100%);
}

.Slider {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 160, 255) 50%, rgb(19, 55, 111) 100%);
  border-radius: 15px;
  border: 2px solid #11111b;
  margin-bottom: 10px;
  padding: 8px;
}

.sldLabel {
  margin-bottom: 6px;
}
.sldIcon {
  margin-right: 10px;
}
.sldSlider {
  min-width: 300px;
}
.sldSlider slider {
  background: none;
}
.sldSlider trough {
  background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(0, 0, 0) 54%, rgb(255, 0, 0) 100%);
  border-radius: 24px;
  min-height: 12px;
}
.sldSlider highlight {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(15, 155, 255) 54%, rgb(0, 0, 0) 100%);
  border-radius: 24px;
  min-width: 16px;
}

.notificationList {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 160, 255) 50%, rgb(19, 55, 111) 100%);
  border-radius: 15px;
  border: 2px solid #11111b;
  margin-bottom: 15px;
  min-height: 500px;
  padding: 10px;
}

.notificationEmpty {
  color: #313244;
  font-size: 7rem;
}

.notificationImage {
  color: #cdd6f4;
  font-size: 30px;
}

.notification {
  background-color: #313244;
  border-radius: 15px;
  padding: 10px;
}

.notificationTitle {
  color: #cdd6f4;
}

.notificationDescription {
  color: #bac2de;
}

.quicktoggles {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 160, 255) 50%, rgb(19, 55, 111) 100%);
  border: 2px solid #11111b;
  margin-bottom: 5px;
  min-width: 200px;
  padding: 10px;
}
.quicktoggles:hover {
  background: #313244;
}

.buttons {
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 10px 10px;
}

.bluetooth, .wifi {
  background: #74c7ec;
  border-radius: 24px;
  min-width: 125px;
  padding: 9px;
}
.bluetooth.off, .wifi.off {
  background: #313244;
}

.wifi {
  margin-right: 10px;
}

.wifiIcon, .bluetoothIcon {
  margin-right: 6px;
}

.Icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  margin: 5px;
  min-height: 24px;
  min-width: 24px;
}
.Icon:hover {
  background: #0FFE0E;
  color: #FF0000;
  font-size: 2rem;
  margin: 2px;
  padding: 2px;
}

.wifilist .wifi-group-list, .wifi-group, .netwidget {
  background: #1e1e2e;
  border-radius: 15px;
  border: 2px solid #11111b;
  margin-bottom: 10px;
  padding: 8px;
}

.dashboard {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
