//--------- Vars -------------
// --------- fonts
$font: Liberation Mono;
$Primfont-color: rgba(255, 140, 0,1);  // rgba(15,155,255,1); // -- Orange
$Secfont-color: rgba(15,155,255,1);  // -- Blue
$Thirdfont-color: rgba(155,255,15,1); // -- green
$Hoverfont-color: rgba(255,0,0,1); // -- red
$font-size: 10px;


//--------- msic
$boxshad-bg: rgba(15,155,255,0.5);
$shadow-color: rgba(15,155,255,1);
$popover-border-color: #00FF00;
$popover-radius: 1rem;
$popover-padding: 0.5rem;
$spacing: 1rem;
$transition: 100ms;
$materialStandard: cubic-bezier(0.2, 0, 0, 1);
$materialAccel: cubic-bezier(0.3, 0, 1, 1);
$materialDecel: cubic-bezier(0, 0, 0, 1);
$squeezebezier: cubic-bezier(0.5, 3, 0, 1);

//--------- Solids
$PrimaryBG: rgba(0,0,0,0.75);
$SecondaryBG: #0e0e1e;
$HoverBG: rgba(15,155,255,1);
$NotificationBG: rgba(0,0,0,0.75);

//---------Gradients
//$primary-bg: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,0,0,1) 50%, rgba(55,0,0,1) 100%);
//$widget-bg: linear-gradient(0deg, rgba(15,155,255,0.5) 0%, rgba(0,0,0,1) 50%, rgba(15,155,255,1) 100%);
$HoverBGG: linear-gradient(0deg, rgba(0,0,55,0.5) 0%, rgba(0,0,255,1) 15%, rgba(0,0,0,0) 50%, rgba(0,0,255,1) 85%, rgba(0,0,55,0.5) 100%);
$active-gradient:  linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(15,155,255,0.5) 50%, rgba(0,0,0,0.25) 100%);
//$NotificationListItemBG: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.5) 100%);

//--------- Borders
$border: 2px solid #0f9bff;
$border-width: 3px;
$border-color: #0f9bff; //rgba(15,155,255,1);
$radius: 2rem;
$radius-tbleft: 3rem 0rem 0rem 3rem;
$radius-tbright: 0rem 3rem 3rem 0rem;
$radius-rltop: 3rem 3rem 0rem 0rem;
$radius-rlbottom: 0rem 0rem 3rem 3rem;
$padding: 0.3rem;
$spacing: 0.3rem;

//--------- Sliders
$SliderTrough: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.25) 30%, rgba(0,255,0,1) 50%, rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.1) 100%);
$SliderHighlight: linear-gradient(0deg, rgba(0,255,0,0.25) 0%, rgba(0,0,255,0.75) 30%, rgba(0,255,255,1) 50%, rgba(0,0,255,0.75) 70%, rgba(0,255,0,0.25) 100%);
