.launcher-switcher {
  .launcher-switcher-button {
    background: none;
    margin-left: 15px;
    &.focused {
      background-color: black;
      border-radius: $radius-tbleft;
      image {
        background-color: black;
        border-radius: $radius-tbleft;
      }
    }
    &:hover {
      background: $HoverBGG;
      background-color: black;
      border-radius: $radius-tbleft;
    }
    // &.before-focused {
    //   image { border-bottom-right-radius: 1rem; };
    // }
    // &.after-focused {
    //   image { border-top-right-radius: 1rem; }
    // }
    image {
      padding: 10px;
      //background: $PrimaryBG;
      color: $Primfont-color;
      font-size: 2rem;
    }
    // &:first-child {
    //   border-radius: $radius-tbleft;
    // }
    // &:last-child {
    //   border-radius: $radius-tbleft;
    // }
  }
}

.launcher {
  background: $LauncherBG;
  background-color: black;
  background-size: auto 50%;
  background-position: center;
  background-repeat: no-repeat;
  //border-top-left-radius: 3rem;
  border-radius: $radius;
  min-width: 25rem;

  .launcher-search {
    margin: 1rem;
    background: none;
    .search-entry {
      border-radius: $radius;
      margin-bottom: 5px;
      padding: 8px;
      border: $border;
      image.left {
        margin-right: 8px;
      }
    }

    .search-scroll {
      .search-results {
        //color for letter highlighting
        color: $Primfont-color;
        .app-button {
          color: $Primfont-color;
          padding: 5px;
          border-radius: $radius;
          &:hover {
            background: $HoverBGG;
          }
          .app-icon {
            font-size: 2rem;
            margin-right: 5px;
          }

          .app-name {
            font-weight: bold;
            font-size: 1rem;
          }

          .app-description {
            font-size: 0.8rem;
            color: $Secfont-color;
          }

          &.focused {
            background: $HoverBGG;
            transition: all 1s $squeezebezier;
          }
        }
      }
    }
  }

  .launcher-category {
    margin: 1rem;
    background: $LauncherBG;
    background-color: black;
    background-size: auto 50%;
    background-position: center;
    background-repeat: no-repeat;

    .app-button {
      padding: 8px;
      border-radius: $radius;
      background-color: rgba(0,0,0,0.75);
      &:hover {
        background: $HoverBGG;
      }
      &.focused {
        background: $PrimaryBG;
      }
      .app-icon {
        font-size: 2rem;
      }
      .app-name {
        font-size: 1rem;
      }
    }
  }
}




