* { //:not(selection)
  all: unset;
  font-family: "Liberation Mono";
  font-size: 0.9rem;
}

// Components
@import "variables";
@import "bar/bar";
@import "dashboard/dashboard";
@import "roundedCorner";
@import "notifications";
@import "Power";
@import "mixins/mixins";
@import "Slider";
@import "overview";
@import "ScreenCapture";
@import "launcher";