.notification {
    min-width: 15rem;
    border-radius: $radius * 0.5;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    border: $border;
    background-color: $NotificationBG;
	& box {
		background-color: transparent;
	}
	image {margin-right: 0.25rem}
	&.critical {
		border: 3px dashed red;
		color: red;
		image {
			color: red;
		}
		box {
			background-color: transparent;
		}
	}

	&.normal {
		border: 3px dotted rgba(15,155,255,1);
		color: $Primfont-color;
		image {
			color: $Primfont-color;
		}
	}

	&.low {
		border: 3px groove white;
		color: white;
		image {
			color: white;
		}
		box {
			background-color: transparent;
		}
	}
}

.notifActions .action-button {
	margin: 0 .4rem;
	margin-top: .8rem;
	font-size: 1.35rem;
	&:first-child {
		margin-left: 0.25rem;
	}

	&:last-child {
		margin-right: 0.25rem;
	}
}

.close-button {
	font-size: 1.5rem;
	margin-left: 0.25rem
}
//.time {
	//font-size: 1rem;
	// color: $Primfont-color;
//}

.notif { //dashboard panel box
	background-color: transparent;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0rem;
	margin-bottom: 0.25rem;
	padding: 0rem 1rem;
	&Item {
		&Body {
			padding: 0.25rem;
			border-radius: $radius;
			color: white;
		}
		&Icon {
			font-size: 4rem;
			box {
				background-color: transparent;
			}
		}
		&Title {
			text-shadow: none;
			font-size: 1.35rem;
			font-weight: bold;
			min-width: 95px;
		}
		&Description {
			color: white;
			text-shadow: none;
			font-size: 0.9rem;
		}
	}
	&Empty {
		color: $Primfont-color;
		font-size: 7rem;
		text-shadow: 15px 0px 10px yellow, -15px 0px 10px yellow, 0px 0px 0px yellow;
	}
	&panel {
		border-radius: $radius-tbleft;
		margin-top: 1rem;
		min-width: 25rem;
		&Box {
			margin-right: 2rem;
			margin-left: 2rem;
			&Title {
				font-size: 1.5rem;
				color: $Primfont-color;
			}
			&Icon {
				font-size: 1.25rem;
				color: $Primfont-color;
			}
		}
	}
}

// ------------- bar
.barNotification {
    background-color: #1e1e2e;
    border-radius: 2rem;
    border: 2px solid #11111b;
    color: #cdd6f4;
    font-weight: bold;
    margin-right: 10px;
    padding: 1px 15px;
}

window.notification-popups box.notifications {
    padding: 0.5rem;
}
