@keyframes lowBlink {
	0% { color: #ff0000; }
	50% { color: #ffff00; }
	100% { color: #000066; }
}


// ------------- Battery bar --------------

.battery {
	border: none;
	color: $Primfont-color;
	font-size: 0.5rem;
	label {
		margin-right: 0.25rem;
	}
	&.low {
		animation: lowBlink 3s infinite;
	}
	&:hover {
		color: $Hoverfont-color;
	}
}

.whole, .regular {
	&.low {
		animation: lowBlink 3s infinite;
	}
	& trough {
		border: $border;
		border-radius: $radius*5;
		block {
			//background: linear-gradient(0deg, rgba(0,35,0,0.65) 0%, rgba(0,35,0,0.8) 10%, lime 50%, rgba(0,35,0,0.8) 90%, rgba(0,35,0,0.65) 100%);
			min-height: 10px;
			background-color: lime;
			border-radius: $radius * 5;
			margin: 0px 0.25px;
		}
	}
}


// ----------- Power controls on battery button -------

.pwrprofiles {
	border: $border;
	border-radius: $radius / 2;
	background: $PrimaryBG;
	font-size: 1rem;
	color: lime;
	label {
		margin-top: 0.5rem;
		font-weight: bold;
	}
	button {
		border: $border;
		border-width: 5px;
		border-radius: $radius;
		padding: 0.45rem 0.65rem;
		margin: 0.5rem 0.5rem;
		&:first-child{
			color: lime;
			&:hover {
				border-left: 5px solid lime;
				border-right: 5px solid lime;
				border-top: $border;
				border-bottom: $border;
				border-width: 5px;
				background: linear-gradient(0deg, lime 0%, rgba(0,0,0,0) 50%, lime 100%);
			}
			//&:focus,
			// &:active {
				// border-left-color: lime;
				// border-right-color: lime;
			// }
			&.power-saver {
				border-left-color: lime;
				border-right-color: lime;
			}
		}
		&:nth-child(2){
			color: yellow;
			&:hover {
				border-left: 5px dashed yellow;
				border-right: 5px dashed yellow;
				border-top: $border;
				border-bottom: $border;
				border-width: 5px;
				background: linear-gradient(0deg, rgba(255,255,0,1) 0%, rgba(0,0,0,0) 50%, rgba(255,255,0,1) 100%);
			}
			// &:focus,
			// &:active {
				// border-left-color: yellow;
				// border-right-color: yellow;
			// }
			&.balanced {
				border-left-color: yellow;
				border-left-style: dashed;
				border-right-color: yellow;
				border-right-style: dashed;
			}
		}
		&:last-child{
			color: red;
			&:hover {
				border-left: 5px dotted red;
				border-right: 5px dotted red;
				border-top: $border;
				border-bottom: $border;
				border-width: 5px;
				background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(255,0,0,1) 100%);
			}
			// &:focus,
			// &:active {
				// border-left-color: red;
				// border-right-color: red;
			// }
			&.performance {
				border-left-color: red;
				border-left-style: dotted;
				border-right-color: red;
				border-right-style: dotted;
			}
		}
		label {
			font-weight: bold;
			margin-top: 0.25rem;
		}
		image {
			font-size: 1.5rem;
		}
	}
}

// ---------- power menu window ------

.sessioncontrols {
	color: $Secfont-color;
	font-size: 2rem;
	font-weight: bold;
	background-color: rgba(0,0,0,0.6);
	padding: 0rem 4rem;
	&-box {
		border-radius: 20rem;
		background-image: url("./assets/lightning.png");
		background-position: center;
		background-blend-mode: luminosity;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-color: rgba(0,0,0,0.6);
		padding: 6rem;
	}
	button {
		border-radius: 5rem;
		min-width: 10rem;
		min-height: 10rem;
		border-left: 0.5rem solid #0F9BFF;
		border-right: 0.5rem solid #0F9BFF;
		background: linear-gradient(0deg, rgba(0,0,255,0.5) 0%, rgba(0,0,255,1) 15%, rgba(0,0,0,0) 50%, rgba(0,0,255,1) 85%, rgba(0,0,255,0.5) 100%);
		margin: 0rem 1.5rem;
		padding: 0.5rem;

		image {
			//@include button;
			border-radius: $radius;
			min-width: 1.7em;
			min-height: 1.7em;
			font-size: 4rem;
		}

		label,
		image {
			color: $Primfont-color;
		}

		label {
			//margin-top: 0rem;
			font-size: 1.5rem
		}

		&:hover {
			image {
				//@include button-hover;
				animation: spin 1s infinite;
			}

			label {
				//color: $fg;
			}
			border-left: 0.5rem dashed red;
			border-right: 0.5rem dashed red;
			background: linear-gradient(0deg, rgba(255,0,0,0.5) 0%, rgba(255,0,0,1) 15%, rgba(0,0,0,0) 50%, rgba(255,0,0,1) 85%, rgba(255,0,0,0.5) 100%);
		}

		&:focus image {
			//@include button-focus;
		}

		&:active image {
			//@include button-active;
		}

		&:focus,
		&:active {
			label {
				color: $Secfont-color;
			}
			border-left: 0.5rem dashed rgba(255,255,0,1);
			border-right: 0.5rem dashed rgba(255,255,0,1);
			background: linear-gradient(0deg, rgba(255,255,0,0.5) 0%, rgba(255,255,0,1) 15%, rgba(0,0,0,0) 50%, rgba(255,255,0,1) 85%, rgba(255,255,0,0.5) 100%);
		}
	}
}
