.corner {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,155,255,1) 54%, rgba(0,0,0,1) 100%);
  border-radius: 1rem;
  margin: 3rem 10rem;
}

.angle {
	&Right {
		color: $border-color;
		background: $PrimaryBG;
		margin-right: 30px;
    	margin-left: 0px;
    	border: $border;
	}
	&Left {
		color: $border-color;
		background: $PrimaryBG;
//		margin-right: 0px;
//    	margin-left: 30px;
    	border: $border;
	}
}

.angleLarge {
	color: $border-color;
	background: $PrimaryBG;
	border: $border;
	border-width: $border-width /2;
}


.spacer { min-width: 10px }
