.corner {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,155,255,1) 54%, rgba(0,0,0,1) 100%);
  border-radius: 1rem
}

.angleRight {
	background: $WidgetBG;
	margin-right: 30px;
    margin-left: 0px;
    border: $border;
}
.angleLeft {
	background: $WidgetBG;
	margin-right: 0px;
    margin-left: 30px;
    border: $border;
}

.angleRightLarge, .angleLeftLarge {
	background: $WidgetBG;
	border: 50px solid yellow;
}


.spacer { min-width: 10px }
