.Slider {
	min-width: 15rem;
	& trough {
		background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.25) 30%, rgba(0,255,0,1) 50%, rgba(0,0,0,0.25) 70%,rgba(0,0,0,0.1) 100%);
		border-radius: 20rem;
		min-height: 12px;
	};
	& highlight {
		background: linear-gradient(0deg, rgba(0,255,0,0.25) 0%, rgba(0,0,255,0.75) 30%, rgba(0,255,255,1) 50%, rgba(0,0,255,0.75) 70%, rgba(0,255,0,0.25) 100%);
		border-radius: 20rem;
		min-width: 16px;
	};
}

//------------- VOLUME SLIDER ---------------------

.volSlider {
	background: $BarWidgetBG;
	border-radius: 2.5rem;
	border: $border;
	padding: 1rem;
}

.volumesld {
	margin-top: 0.5rem;
	&Label {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: bold;
		color: $Primfont-color;
		//text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
	}
	&Icon {
		margin-right: 0.5rem;
		margin-top: 0.5rem;
		text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
	}
}

//.volmenus {
//	margin-top: 0.5rem;
//	&items {
//		margin-left: 0.5rem;
//	}
//}

.menu {
	&.app-mixer {
		.title {
			background-image: $background;
			box-shadow: inset 0.25rem 0.25rem 1rem rgba(0,0,0,1);
			font-size: 1.25rem;
			font-weight: bold;
			margin-top: 0.25rem;
			border-radius: 3rem;
			padding: .25rem 0.75rem;
			color: rgba(15,155,255,1);
		}
		.icon {
			margin-right: 0.5rem;
			margin-top: 0.25rem;
		}
	}
	&.sink-selector {
		color: rgba(255,0,0,1);
		.title {
			background-image: $background;
			box-shadow: inset 0.25rem 0.25rem 1rem rgba(0,0,0,1);
			font-size: 1.25rem;
			font-weight: bold;
			margin-top: 0.25rem;
			border-radius: 3rem;
			padding: .25rem 0.75rem;
			color: rgba(15,155,255,1);
		}
		.icon {
			margin-right: 0.5rem;
			margin-top: 0.25rem;
			color: rgba(15,155,255,1);
		}
	}
}

.mixeritem {
	color: rgba(255,0,0,1);
	&icon {
		color: rgba(255,0,0,1);
		margin-right: 0.25rem;
		margin-top: 0.25rem;
	}
	&label {
		color: #cdd6f4;
		margin-top: 0.25rem;
	}

		&:last-child {
			margin-bottom: 0.5rem;
		}

}

.sinkitem {
	&box {
		margin-top: 0.25rem;
	}
	&icon {
		margin-right: 0.25rem;
	}
	&label {
		margin-top: 0.25rem;
	}
	&:last-child {
		margin-bottom: 0.5rem;
	}
}

//----------- BRIGHTNESS SLIDER -------------
.brightSlider {
	margin-bottom: 5px;
	padding-left: 4rem;
	padding-right: 4rem;
}

.brightsld {
	&Label {
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
		color: $Primfont-color;
		//text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
	}
	&Icon {
		margin-right: 1rem;
		text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
	}
}
