// general slider style
.Slider {
	min-width: 15rem;

	& trough {
		background: $SliderTrough;
		border-radius: 20rem;
		min-height: 12px;
	}

	;

	& highlight {
		background: $SliderHighlight;
		border-radius: 20rem;
		min-width: 16px;
	}

	;
}

.Slider slider {
	min-height: 15px;
	min-width: 15px;
	border-radius: 20px;
	background-color: blue;
	border: none;
	box-shadow: 0px 0px 4px white;
}

//------------- VOLUME SLIDER ---------------------

.volumeTabs {
	background: $PrimaryBG;
	border-radius: $radius * 1.25;
	border: $border;
	padding: 1rem;
}

.volumesld {
	margin-top: 0.5rem;
	margin-right: 0.65rem;

	&Label {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: bold;
		color: $font-color1;
		//text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
	}

	&Icon {
		margin-right: 0.5rem;
		margin-top: 0.5rem;
		text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;

		image {
			color: $font-color1;
		}
	}
}

.dashvol .menu {
	all: unset;

	&.app-mixer {
		.title {
			background: $PrimaryBG;
			box-shadow: inset 0.25rem 0.25rem 1rem rgba(0, 0, 0, 1);
			font-size: 1.25rem;
			font-weight: bold;
			margin-top: 0.25rem;
			border-radius: 3rem;
			padding: .25rem 0.75rem;
			color: rgba(15, 155, 255, 1);
		}

		.icon {
			margin-right: 0.5rem;
			margin-top: 0.25rem;
		}
	}

	&.sink-selector {
		color: $font-color1;

		.title {
			background: $PrimaryBG;
			box-shadow: inset 0.25rem 0.25rem 1rem rgba(0, 0, 0, 1);
			font-size: 1.25rem;
			font-weight: bold;
			margin-top: 0.25rem;
			border-radius: 3rem;
			padding: .25rem 0.75rem;
			color: rgba(15, 155, 255, 1);
		}

		.icon {
			margin-right: 0.5rem;
			margin-top: 0.25rem;
			color: rgba(15, 155, 255, 1);
		}
	}
}

.mixeritem {
	color: $font-color1;
	margin-right: 0.65rem;

	&icon {
		color: $font-color1;
		margin-right: 0.25rem;
		margin-top: 0.25rem;
	}

	&label {
		color: $font-color1;
		margin-top: 0.25rem;
	}

	&:last-child {
		margin-bottom: 0.5rem;
	}

}

.sinkitem {
	&box {
		margin-top: 0.25rem;
	}

	&icon {
		margin-right: 0.25rem;
		color: $font-color1;
	}

	&label {
		margin-top: 0.25rem;
		color: $font-color1;
	}

	&:last-child {
		margin-bottom: 0.5rem;
	}
}

//----------- BRIGHTNESS SLIDER -------------
.brightSlider {
	margin-bottom: 5px;
	padding-left: 4rem;
	padding-right: 4rem;
}

.brightsld {
	&Label {
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
		color: $font-color1;
		//text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
	}

	&Icon {
		margin-right: 1rem;
		text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px $shadow-color;
		color: $font-color1;

		&:hover {
			color: $font-color5;
		}
	}
}