@mixin floating-widget {
    shadows {
        box-shadow: 0 0 5px 0 $shadow-color;
    }

    margin: max(12pt, 8px);
    border:none;
    color: white;
    border-radius: $popover-radius;
    padding: $popover-padding;
    min-height: 250px;
}
