@keyframes lowBlink {
    0% {
        color: #ff0000;
    }

    50% {
        color: #ffff00;
    }

    100% {
        color: #000066;
    }
}

.BarBTN {
    background: $PrimaryBG;
    border-bottom: $border;
    -gtk-icon-style: symbolic;

    image {
        font-size: 1.15rem;
    }

    &:hover {
        color: $font-color5;

        image {
            animation: spin 1s infinite;
        }
    }
}

.BarBTN2 {
    font-size: 1.4rem;
    -gtk-icon-style: symbolic;

    &:hover {
        color: $font-color5;
        animation: spin 1s infinite;
    }
}