@keyframes lowBlink {
    0% { color: #ff0000; }
    50% { color: #ffff00; }
    100% { color: #000066; }
}

.BarBTN {
    background: $PrimaryBG;
    border-bottom: $border;
    font-size: 1.4rem;
    &:hover {
        color: $Hoverfont-color;
        image {
            animation: spin 1s infinite;

        }
    }
}

.BarBTN2 {
    font-size: 1.4rem;
    &:hover {
        color: $Hoverfont-color;
        animation: spin 1s infinite;
    }
}
