tooltip {
    * {
        all: unset;
    }

    background-color: transparent;
    border: none;

    >*>* {
        background: $WidgetBG;
        border-radius: $radius;
        border: $border-width solid $popover-border-color;
        color: $Primfont-color;
        padding: 8px;
        margin: 4px;
        box-shadow: 0 0 3px 0 $shadow-color;
    }
}
