.bar {
	color: $font-color1;
	background: transparent;
	min-height: 10px;

	&left {
		min-width: 100px;
	}

	&center {
		min-width: 100px;
	}

	&right {
		min-width: 100px;
	}
}

//  -------------- window title

.wintitle {
	background: $PrimaryBG;
	color: $font-color1;
	border-bottom: $border;
	font-weight: bold;
	padding: 1px 0px;

	image {
		font-size: 1.1rem;
		color: $font-color2;
	}

	&:hover {
		image {
			animation: spin 1s infinite;
			color: $font-color1;
		}

		label {
			color: $font-color5;
		}
	}
}

// --------------- clock

.clock {
	background: $PrimaryBG;
	color: $font-color1;
	border-bottom: $border;
	font-weight: bold;

	&:hover {
		color: $font-color5;
	}
}

// --------------- sysinfo

.sysinfo {
	background: $PrimaryBG;
	border-bottom: $border;
	color: $font-color1;
	font-weight: bold;
}

// volume button in sysinfo tray
.volumebtn {
	color: $font-color1;

	image {
		font-size: 1.15rem;
	}

	button:hover {
		color: $font-color5;
	}
}