.calendarbox {
    background: $SecondaryBG;
    border-radius: 2rem;
    border: $border;
    padding: 5px;
    padding-top: 10px;
}

.dashcal {
    border-top: $border;
    border-radius: $radius-rltop;
    padding: 0.5rem 2.5rem;
}

.calendar {
    font-family: $font;

    &-grid {
        border-radius: $radius;
        padding: 0.25rem;
        color: $font-color1;

        label {
            margin: 3px;
        }
    }

    &-header {
        color: $font-color3;
        margin: 0rem 1rem;
        padding-bottom: 1rem;
    }

    &-days {
        color: $font-color2;
        border-bottom: $border;
        border-radius: $radius;
        font-size: 1.5rem;
    }

    &-day {
        color: $font-color1;
        margin: 0.1rem 0.25rem;
        padding: 0.2rem 0.6rem;
        border-radius: $radius;
        font-size: 1.25rem;
        font-weight: 100;
    }

    &-today {
        background: radial-gradient(rgba(0, 0, 0, 1) 25%,
                rgba(15, 155, 255, 1) 100%);
        color: red;
        border-radius: $radius;
        font-weight: bolder;
    }
}

.calendar-year-label,
.calendar-month-label {
    font-size: 1.5rem;
    color: $font-color1;
}

.calendar.year,
.calendar.month {
    &.label {
        color: $font-color1;
    }

    &.arrow-left {
        color: $font-color4;
        font-size: 1.5rem;
    }

    &.arrow-right {
        color: $font-color3;
        font-size: 1.5rem;
    }

    &:hover {
        color: $font-color5;
    }
}

.calendar.return-today {
    color: $font-color1;
    background: $active-gradient;
    border-radius: $radius;
    min-width: 50px;
    min-height: 30px;

    image {
        font-size: 1.25rem;
        padding: 0.25rem 1.5rem;
    }

    &:hover {
        background: $HoverBGG;

        image {
            color: $font-color3;
            animation: spin 1s infinite;
        }
    }
}