.dashboard {
	font-weight: bold;
	background: none;
}

.dashcontainer {
	background: $PrimaryBG;
	border-radius: $radius-tbleft;
	//min-height: 78.75rem;
	border-left: $border;
	border-bottom: $border;
	border-top: $border;
	margin-top: 0.25rem;
}