.dashboard {
	font-weight: bold;
	background: none;
}

.dashcontainer {
	background: $SecondaryBG;
	border-radius: $radius-tbleft;
	border-left: $border;
	border-bottom: $border;
	border-top: $border;
	padding-top: 1.5rem;
}