.workspaces {
    background: $PrimaryBG;
    border-bottom: $border;

    & button {
        color: $font-color1;
        margin-left: 5px;
        padding: 2px;
        min-height: 8px;
        min-width: 16px;
        transition: all 2s $squeezebezier;

        image {
            color: $font-color1;
        }

        label {
            color: $font-color1;
        }

        &:hover {

            // color: $font-color4;
            // font-weight: bold;
            //min-width: 18px;
            image {
                color: $font-color5;
                animation: spin 1s infinite;
            }
        }

        &.occupied {
            border: 2px solid rgba(0, 0, 0, 0);
            border-radius: $radius;

            //color: $font-color2;
            &:hover {
                //color: $font-color4;
                font-weight: bold;

                //min-width: 18px;
                image {
                    color: $font-color5
                }

                label {
                    color: $font-color5
                }
            }

            image {
                color: $font-color2
            }

            label {
                color: $font-color2
            }
        }

        &.active {
            border: 2px solid #00ccff;
            //background: rgba(255, 0, 0, 0.8);
            border-radius: $radius;

            // font-weight: bold;
            // color: $font-color3;
            &:hover {

                // color: $font-color4;
                // font-weight: bold;
                //min-width: 18px;
                image {
                    color: $font-color5;
                }
            }

            image {
                color: $font-color3
            }
        }
    }

    // &.active,
    // &:active {
    //     label {
    //         background-color: transparentize($font-color1, .3);
    //
    //         &.occupied {
    //             background-color: transparentize($font-color1, .15);
    //         }
    //
    //         &.active {
    //             background-color: $font-color1;
    //         }
    //     }
    // }
}