@import "clock";
@import "calendar";
@import "media";
@import "sysinfo";
@import "title";
@import "tray";
@import "workspaces";

.bar {
    color: $Primfont-color;
	background-image: none;
	min-height: 5px;
	&left {
		min-width: 100px;
	}
	&center {
		min-width: 100px;
	}
	&right {
		min-width: 100px;
	}
}
