.calendarbox {
	background: $WidgetBG;
	border-radius: 2rem;
	border: $border;
    padding: 5px;
    padding-top: 10px;

}

calendar {
	font-family: $font;
	border-radius: 3rem;
	color: rgba(15,200,255,1);
    font-size: 1.25rem;
    padding: 0.25rem;
	&.header {
		color: red;
	}
	&:selected {
		background: radial-gradient(rgba(0,0,0,1) 25%, rgba(15,155,255,1) 100%);
		color: red;
	}
	&:indeterminate {
		color: rgba(91,84,84,0.8)
	}
	&.button {
		background-color: rgba(0,160,255,1);
		box-shadow: inset 5px -5px 5px -5px rgba(19, 55, 111, 1);
		color: black;
		font-weight: bold;
	}
	&:hover {
		color: $Hoverfont-color;
		background-color: rgba(155,0,255,1);
	}
}
