.clock {
    //background-color: rgba(0,0,0,0.5);
    background: $BarWidgetBG;
    //border-radius: 0rem 0rem 3rem 3rem;
    box-shadow: 25px 0px 5px rgba(0, 0, 0, 0.8), -25px 0px 5px rgba(0, 0, 0, 0.5), -25px 0px 5px rgba(0, 0, 0, 0.8), 25px 0px 5px rgba(0, 0, 0, 0.5);
    color: $Primfont-color;
    font-weight: bold;
    //padding: 1px 0px;
    &:hover {
        color: $Hoverfont-color;
        //border: 2px solid #0000FF;
        }
}
