.dashbtn {
    background-color: rgba(0,0,0,0.5);
    border-radius: 3rem 0rem 0rem 3rem;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 5px;
    padding: 0px 5px;
    &:hover {
        color: cyan;
        border: 2px solid #0000FF;
    };
}
