.mediabtn {
	border-bottom: $border;
	background: $WidgetBG;
}
.mediaticker {
	//background: $WidgetBG;
	color: $Primfont-color;
	font-weight: bold;
	//min-width: 12px;
	//min-height: 12px;
	&:hover {
		color: $Hoverfont-color;
	}
}

.player {
	background: $WidgetBG;
    padding-left: 10px;
    border: $border;
    border-radius: $radius * 1.5;
    min-width: 400px;
	min-height: 10px
}
.trackimg {
	background-size: 25px;
	background-position: center;
	border-radius: 5px;
	margin: 0.25rem 0.25rem;
}
.playicon {
	padding: 0rem;
	margin: 0rem 0.25rem;
	margin-top: 0.25rem;
	color: $Primfont-color;
	font-size: 25px;
}

.tracktitle {
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 3rem;
	padding: 0rem 0.5rem;
	//background: $WidgetBG;
	color: rgba(255,0,0,1);
}

.artist {
		font-size: 1rem;
		padding: 0rem 0.25rem;
		//margin-right: 2rem;
		color: cyan;
	}
	
.player scale.position {
    padding: 0;
    margin-bottom: .3em;
    padding: 1em;
	trough {
    	min-height: 12px;
    	background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 54%, rgba(255,0,0,1) 100%);
	}
	highlight {
    	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,155,255,1) 54%, rgba(0,0,0,1) 100%);
	}
	slider {
	    all: unset;
	}
}

.player button {
	min-height: 1rem;
	min-width: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.25rem;
	padding: 2.5px;
}

.player	button {
	color: #cdd6f4;
	font-weight: bold;
	font-size: 1.5rem;
	border: 2px solid rgba(0,0,0,0);
	&.play-pause {
		margin: 0rem 0.25rem;
		&:hover {
			color: yellow;
		}
	}
	&.next, &.previous {
		&:hover {
			color: lime;
		}
	}
	&.close {
		&:hover {
			color: red;
		}
	}
}

.playercontrols {
	background-color: rgba(15,155,255,0.5);
	border-radius: 3rem;
	margin-left: 0.5rem;
}
