.media {
    color: #cdd6f4;
	//background-color: rgba(0,0,0,0.5);
    font-weight: bold;
    &:hover {
        color: $Hoverfont-color;
        border: 2px solid #0000FF;
    }

	&btn {
		//background-color: rgba(0,0,0,0.5);
		background-image: $BarWidgetBG;
		//padding: 1px 0px;
		color: $Primfont-color;
		box-shadow: 25px 0px 5px rgba(0, 0, 0, 0.8), -25px 0px 5px rgba(0, 0, 0, 0.5), -25px 0px 5px rgba(0, 0, 0, 0.8), 25px 0px 5px rgba(0, 0, 0, 0.5);
		font-weight: bold;
		min-width: 12px;
		min-height: 12px;
		&:hover {
		   color: $Hoverfont-color;
		//   border: 2px solid #0000FF;
		}
	}
}

.playwin {
	margin-right: 5.75rem;
	min-width: 300px;
    min-height: 150px;
    margin-top: 2.5rem;
}
.player {
	background: linear-gradient(155deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 25%, rgba(255,0,0,1) 50%, rgba(55,0,0,1) 100%);
    padding: 5px;
    border-radius: 2rem;
}
.trackimg {
	background-size: 50px;
	background-position: center;
	border-radius: 5px;
	margin-right: 1rem;
}
.playicon {
	padding: 0rem;
	margin: 0rem 1rem;
}

.tracktitle {
	font-size: 1.2em;
	border-radius: 3rem;
	padding: 0.5rem 1rem;
	background-color: rgba(0,0,0,0.5)
}

.artist {
		font-size: 1.15em;
		font-weight: bold;
		margin-right: 2rem;
		color: cyan;
	}
	
.player scale.position {
    padding: 0;
    margin-bottom: .3em;
    padding: 1em;
}

.player scale.position trough {
    min-height: 12px;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 54%, rgba(255,0,0,1) 100%);
}

.player scale.position highlight {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,155,255,1) 54%, rgba(0,0,0,1) 100%);
}

.player scale.position slider {
    all: unset;
}

.player button {
    min-height: 1rem;
    min-width: 1rem;
    margin: 0rem 1rem;
}

.player button.play-pause {
    margin: 0rem 1rem;
    color: #cdd6f4;
    font-weight: bold;
    border: none;
    &:hover {
        color: yellow;
    }
}

.next {
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    &:hover {
        color: lime;
    }
}

.previous {
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    &:hover {
        color: #0BE0CE;
    }
}

.playercontrols {
	background-color: rgba(0,0,0,0.5);
	border-radius: 3rem;
	padding: 0.5rem 0.3rem;
}
