@import "../mixins/mixins";

.ticker {
	&btn {
		border-bottom: $border;
		background: $PrimaryBG;
		font-weight: bold;
		min-width: 1rem;

		tooltip {
			font-weight: bold;
			padding: 10px
		}

		&:hover {

			.tickertrack {
				color: $font-color5;
			}

			.tickerartist {
				color: $font-color1
			}

			image {
				animation: spin 1s infinite;
			}
		}
	}

	&artist {
		color: $font-color2;
		font-size: 1rem;
	}

	&track {
		font-size: 1rem;
		color: $font-color1;
	}

	&icon {
		color: red;
	}
}

.tickerbox {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.player {
	background: $PrimaryBG;
	padding: 0px;
	border: $border;
	border-radius: $radius * 1.5;
	min-width: 450px;
	min-height: 10px;
}

.trackimg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: $radius-tbleft;
	margin-right: 0.25rem;
}

.playicon {
	padding: 0rem;
	margin: 0rem 0.25rem;
	margin-top: 0.25rem;
	color: $font-color1;
	font-size: 25px;
}

.tracktitle {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0rem 0.5rem;
	margin-top: 0.65rem;
	//background: $PrimaryBG;
	color: $font-color1;

}

.artist {
	font-size: 1rem;
	padding: 0rem 0.25rem;
	//margin-right: 2rem;
	color: $font-color2;
}

.player scale.position {
	margin-bottom: .3em;
	padding: 0.25rem;
	min-width: 12rem;

	trough {
		min-height: 10px;
		background: $SliderTrough;
	}

	highlight {
		background: $SliderHighlight;
		border-radius: $radius;
	}

	slider {
		min-height: 10px;
		min-width: 10px;
		border-radius: 20px;
		background-color: blue;
		border: none;
		box-shadow: 0px 0px 4px white;
	}
}

.player button {
	color: #cdd6f4;
	border: 2px solid rgba(0, 0, 0, 0);

	image {
		font-size: 1.5rem;
		margin: 0rem 0.25rem;
	}

	&.play-pause {
		margin: 0rem 0.25rem;

		&:hover {
			color: yellow;
		}
	}

	&.next,
	&.previous {
		&:hover {
			color: lime;
		}
	}

	&.close {
		margin-left: 1rem;

		&:hover {
			color: red;
		}
	}
}

.playercontrols {
	background-color: rgba(15, 155, 255, 0.5);
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	//margin-left: 0.5rem;
	padding: 0rem 0.5rem;
}

.mediacurves {
	background-color: rgba(15, 155, 255, 0.5);
	border: $border;
	color: $border-color;
}