@keyframes lowBlink {
  0% { color: #f5c2e7; }
  50% { color: #cdd6f4; }
  100% { color: #f5c2e7; }
}
.sysinfo {
    //background-color: rgba(0,0,0,0.5);
    background: $BarWidgetBG;
    //border-radius: 0rem 0rem 5rem 5rem;
    box-shadow: 25px 0px 5px rgba(0, 0, 0, 0.8), -25px 0px 5px rgba(0, 0, 0, 0.5), -25px 0px 5px rgba(0, 0, 0, 0.8), 25px 0px 5px rgba(0, 0, 0, 0.5);
    color: $Primfont-color;
    font-weight: bold;
    //padding: 1px 0px;
    &:hover {
        color: $Hoverfont-color;
        //border: 2px solid #0000FF;
    }
}
.volume {
	color: $Primfont-color;
    margin-right: 4px;
    &:hover {
        color: $Hoverfont-color;
        border: 2px solid #0000FF;
    }
}
.bluetoothindicator {
    margin-left: 4px;
    margin-right: 4px;
}
.battery {
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    color: black;
    &.low {
        animation: lowBlink 3s infinite;
    }
        &:hover {
        color: $Hoverfont-color;
    }
}
.whole, .regular {
	border-radius: 20rem;
	background-color: black;
	&.low {
        animation: lowBlink 3s infinite;
    }
	& trough {
		background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,35,0,0.8) 10%, rgba(15,200,15,1) 50%, rgba(0,35,0,0.8) 90%, rgba(0,0,0,0) 100%);;
		border-radius: 20rem;
	}
}

.reloadconfig {
	margin-left: 4px;
	&:hover {
        color: $Hoverfont-color;
    }
}
