.workspaces {
    background: $PrimaryBG;
    border-bottom: $border;
    & button {
        color: $Primfont-color;
        margin-left: 5px;
        padding: 2px;
        min-height: 8px;
        min-width: 16px;
        transition: all 2s $squeezebezier;
        image {
            color: $Primfont-color;
        }
        label {
            color: $Primfont-color;
        }
        &:hover {
            // color: $Hoverfont-color;
            // font-weight: bold;
            //min-width: 18px;
            image {
                color: $Hoverfont-color;
                animation: spin 1s infinite;
            }
        }
        &.occupied {
            border: 2px solid rgba(0,0,0,0);
            border-radius: $radius;
            //color: $Secfont-color;
            &:hover {
                //color: $Hoverfont-color;
                font-weight: bold;
                //min-width: 18px;
                image {
                    color: $Hoverfont-color
                }
                label {
                    color: $Hoverfont-color
                }
            }
            image {
                color: $Secfont-color
            }
            label {
                color: $Secfont-color
            }
        }

        &.active {
            border: 2px solid #00ccff;
            //background: rgba(255, 0, 0, 0.8);
            border-radius: $radius;
            // font-weight: bold;
            // color: $Thirdfont-color;
            &:hover {
                // color: $Hoverfont-color;
                // font-weight: bold;
                //min-width: 18px;
                image {
                    color: $Hoverfont-color;
                }
            }
            image {
                color: $Thirdfont-color
            }
        }
    }

    // &.active,
    // &:active {
    //     label {
    //         background-color: transparentize($Primfont-color, .3);
    //
    //         &.occupied {
    //             background-color: transparentize($Primfont-color, .15);
    //         }
    //
    //         &.active {
    //             background-color: $Primfont-color;
    //         }
    //     }
    // }
}
