.workspaces {
	margin: 0px 3px;
    & button {
        background-color: rgba(0,0,0,0.5);
        color: #00FFCC;
        border-radius: 0rem 0rem 3rem 3rem;
        margin: 0px 3px 0px 0px;
        padding: 1px;
        min-height: 8px;
        min-width: 14px;
        transition: all 0.3s $materialStandard;
        &:hover {
            border: 2px solid #0000FF;
            color: #FFFE00;
            font-weight: bold;
            min-width: 18px;
            }
        &.focused {
			border: 2px solid #7A2048;
			background: rgba(0, 0, 0, 0.8);
			border-radius: 3rem 3rem 3rem 3rem;
			font-weight: bold;
			color: #FF0000;
			min-width: 20px;
		}
    }
}

